body {
	font-family: arial;
	margin: 1em 1em 1em 1em;
	animation-name: slideup;
	animation-duration: 0.8s;
}

.main-heading {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: rgb(0, 102, 204);
	color: white;
	text-align: center;
}

a {
	padding: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
	border: 1px solid;
	border-radius: 5px;
}

@keyframes slideup {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
